{% extends 'base.html' %}

{% block title %}
Детально об проекте ({{ project.name }})
{% endblock title %}

{% block content %}
    <main class="py-6 px-8">
        <h1 class="mb-6 text-3xl">{{ project.name }}</h1>
        
        <a href="{% url 'add_todolist' project.id %}" class="py-4 px-8 bg-emerald-600 text-white inline-block">Добавить список задач</a>
        <a href="{% url 'project-edit' project.id %}" class="py-4 px-8 bg-sky-600 text-white inline-block">Редактировать</a>
        <a href="{% url 'project-delete' project.id %}" class="py-4 px-8 bg-amber-600 text-white inline-block">Удалить</a>

        <h2 class="mt-6 text-2xl">Списки задач</h2>
        <div class="mt-6 grid grid-cols-4 gap-4">
            {% if todolists_length == 0 %}
                <h1 class="mt-6 text-3xl">У вас нет списка задач</h1>
            {% else %}
                {% for todolist in project.todolists.all %}
                    <div class="py-6 px-6 bg-slate-200">
                        <a href="{% url 'detail_todolist' project.id todolist.id %}">
                            <h2 class="mb-4 text-xl">{{ todolist.name }}</h2>

                            <p class="text-sm text-slate-600">
                                {{ todolist.description }}
                            </p>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <h2 class="mt-6 text-2xl">Файлы проекта</h2>
        <a href="{% url 'upload-file' project.id %}" class="mt-3 py-4 px-8 bg-slate-600 text-white inline-block">Загрузить файлы</a>
        <div class="mt-6 grid grid-cols-4 gap-4">
            {% for projectfile in project.files.all %}
                <div class="py-6 px-6 bg-slate-200">
                    <h2 class="mb-4 text-xl">{{ projectfile.name }}</h2>

                    <a href="{{ projectfile.attachment.url }}" target="_blank" class="text-sm text-slate-600" download>
                        Скачать файл
                    </a><br>

                    <a href="{% url 'delete-file' project.id projectfile.id %}" class="mt-3 py-4 px-8 bg-slate-600 text-white inline-block">
                        Удалить файл
                    </a>
                </div>
            {% endfor %}
        </div>

        <h2 class="mt-6 text-2xl">Заметки</h2>
        <a href="{% url 'add-note' project.id %}" class="mt-3 py-4 px-8 bg-slate-600 text-white inline-block">Добавить заметку</a>
        <div class="mt-6 grid grid-cols-4 gap-4">
            {% for note in project.notes.all %}
                <div class="py-6 px-6 bg-slate-200">
                    <a href="{% url 'detail-note' project.id note.id %}">
                        <h2 class="mb-4 text-xl">{{ note.name }}</h2>

                        <p class="text-sm text-slate-600">
                            {{ note.body|truncatechars:50 }}
                        </p>
                    </a>
                </div>
            {% endfor %}
        </div>

    </main>
{% endblock content %}